[data-sf-theme="dark"] {
	--sf__button-bg: oklch(0.2 0 0);
	--sf__button-color: oklch(0.9 0 0);
	--sf__input-bg: oklch(0.15 0 0);
	--sf__input-color: oklch(0.9 0 0);
	--sf__input-border-color: oklch(0.3 0 0);
	--sf__input-border-color_focus: oklch(0.5 0 0);
	--sf__label-color: oklch(0.95 0 0);
}
