.button {
	all: unset;
	/* Spacing */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	overflow: hidden;
	outline-width: 2px;
	outline-offset: -1px;
	outline-style: inset;
	outline-color: transparent;
	/* Letters */
	font-size: var(--sf__scale);
	line-height: calc(var(--sf__scale) * 1.5);
	min-height: calc(var(--sf__scale) * 1.5);
	/* Colors */
	background: var(--sf__button-bg);
	color: var(--sf__button-color);
	/* Accessibility */
	cursor: pointer;
	transition: filter 0.1s ease;
}

.button:hover {
	filter: brightness(1.04);
}

.button:active {
	filter: brightness(0.96);
}

.button:focus {
	outline-color: var(--sf__button-color);
}

.button:disabled {
	cursor: default;
	user-select: none;
	pointer-events: none;
	--sf__button-color: var(--sf__button-color_disabled);
}

.button:focus-visible {
	outline-color: var(--sf__button-color);
}
